img {
  width: 500px;
}

a {
  text-decoration: none;
}

.filter-buttons {
  margin: 15px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
